<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="strutsConfig" type="MyMVC.Struts.ActionConfigurator,MyMVC.Struts" />
  </configSections>
  <strutsConfig>
    <assembly value="MyMVC.Controller" />
    <config value="config2" />
    <error value="~/error/404.html" />
  </strutsConfig>


  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <!--<add extension=".cshtml" type="Artech.MessageCodeGenerator.MessageBuildProvider, Artech.MessageCodeGenerator.Lib"/>-->
      </buildProviders>
    </compilation>
    <!--IIS7经典模式写法 -->
    <!--
      <httpHandlers>
      <add verb="*" path="*.do" type="MyMVC.Struts.ActionControl, MyMVC.Struts" />
    </httpHandlers>-->

  </system.web>
  <system.webServer>
    <!-- IIS7集成模式写法 -->
    <handlers>
      <add name="MyHandler" path="*.do" verb="*"  type="MyMVC.Struts.ActionControl, MyMVC.Struts" />
    </handlers>
  </system.webServer>
</configuration>
